body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f1f1f1;
  }

  
  
  header {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #f1f1f1;
    padding: 2em;
  }

  header h1 {
    display:flex;
    float: left;
    text-align: center;
  
    
  }

  header nav{
    float: right;
    margin-left: 2%;
  }


  header nav a {
    color: #f1f1f1;
    text-decoration: double;
    margin-bottom: 2em; 
    
  }
  
  main {
    padding: 1em;
  }
  
  section {
    border: 1px solid #ccc;
    padding: 2em;
    margin-bottom: 1em;
  }
  
  section#about {
    display: flex;
    background-image: url("la-cod-de-ac.png");
    box-shadow: 10px 5px 5px black
  }
  
  section#about img {
     border-radius: 25%;
     max-width: 200px;
     max-height: 200px; 
     width: 200px;
     height: auto;
     margin-right: 1em;
     border: 2px solid rgb(65, 53, 53);
     float: left;
     box-shadow: 10px 5px 5px black
  }

  section#about p{
    display:flex;
    float: right;
    color: aliceblue;
    font-size: 200%;
    text-shadow: 2px 1px 2px blue;
  }


  section h2 {
    margin-top: 5px;
    margin-left: 5px;
    
  }

  section#experience{
    border-color: black;
    box-shadow: 10px 5px 5px black
  }

  section#experience h2{
    text-decoration: underline;
  }

 
  section#experience .project {
    margin-bottom: 1em;
  }
  
  section#skills li {
    list-style-type: none;
  }

  section#skills div{
    box-shadow: 5px 2px 2px black
  }

  section#skills img {
    
    margin-left: 30%;
    box-shadow: 10px 5px 5px black
  }

  section#skills {
    display: flex;
    border-color: black;
    box-shadow: 10px 5px 5px black

  }

  

  section#contact {
    display: flex;
    border-color: black;
    box-shadow: 10px 5px 5px black
  }

  section#contact img{
    margin-left: 5%;
    box-shadow: 10px 5px 5px black
  }
  
  footer {
    background-color: #333;
    color: #f1f1f1;
    padding: 1em;
    text-align: center;
    box-shadow: 10px 5px 5px black
  }